#divAcitive {
    visibility: hidden;
}
 
#divPaused {
    visibility: hidden;
}

BODY {
	font-size: 20px;
	background: url(http://wallpaperscraft.com/image/range_multi-colored_lines_black_250_3840x2400.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
table {
	font-size: 20px;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
input {
	font-size: 20px;
}
a,p {
	font-family: 'Oswald', sans-serif;
	font-size: 25 px;
	padding: 10px;
	letter-spacing:1px;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#tab_log {
	position: fixed;
	top: 25%;
	left: 40%;
}
#submit_cell {
	text-align: -webkit-center;
	margin-top: 10px;
}

.sub_btn {
	background-color: Transparent;
	padding: 5;
	padding-left: 90px;
	padding-right: 90px;
	color: white;
	margin-top: 10px;
	border: none;
	letter-spacing: 2px;
}
.input_area {
	background-color: Transparent;
	color: white;
	padding: 6px;
}
.input_area:focus{
	background-color: Transparent;
	color: yellow;
}
.input_area:-webkit-autofill {
    background-color: Transparent !important;
}
.tlt{
	font-family: 'Oswald', serif;
	font-size: 30px;
	
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}
a:hover,.sub_btn:hover {
    color: yellow;
}
.tlt_div{
	text-align: center; 
	margin-bottom:5px;
}